/* body {
    margin: 1%;
    padding: 1%;
} */

.container {
    display: flex;
    height: 1060px;
}

.nav-bar {
    width: 9vw;
    height: 1073px;
    background-color: lightseagreen;
}

.my-image {
    width: 96vw;
    justify-content: space-evenly;
}

.self-image {
    width: 140px;
    margin: 14px;
    border-radius: 3px;
    border: 2px seashell solid;
}

#navigation {
    margin: 14px;
    height: 56px;
    width: 106px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: lawngreen;
    text-align: center;
}

.btn {
    width: 80px;
    height: 40px;
    border: 2px black solid;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
    border-radius: 5px;
}

.main {
    width: 90vw;
}

.img00 {
    max-width: 100%;
}

.home {
    background-color: green;
}

.about {
    background-color: yellow;
}


.projects {
    background-color: peru;
}


.experiences {
    background-color: royalblue;
}


.travel {
    background-color: turquoise;
}


.hobbies {
    background-color:khaki;
}


.twitter {
    background-color: gold;
}


.facebook {
    background-color: olive;
}

.github {
    background-color: teal;
}

.codepen {
    background-color: limegreen;
}

.codewars {
    background-color: hotpink;
}

.linkedin {
    background-color: coral;
}

.contact {
    background-color: bisque;
}

.main {
    display: flex-column;
    width: 92vw;   
}

header {
    display: flex;
    background-color: lightslategrey;
    height: 11.2vh;
}

#name {
    width: 30vw;
    margin: 10px 0 10px 20px;
    justify-content: center;
}

#drive {
    width: 70vw;
    margin: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
    float: left;
    font-family: cursive;
}

h2 {
    float: center;
    font-family: Arial, Helvetica, sans-serif;

}

.content {
    overflow: scroll;
    height: 1000px;
}

#intro {
    height: 87.25vh;
    display: flex;
    background-color: black;
}

#img00 {
    height: 86.9vh;
    margin: 1px 0px;
    max-width: 60vw;
    margin: 1px;
    border-radius: 2px;

}

#intro-para {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    margin: 5px;
    color: white;
    max-width: 40vw;
}

.dots {
    height: 75px;
    width: 75px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block; 
}

.border-between{
    height: 50px;
    background-color: lightgreen;
}
  
.img-list {
    display: ;
}

@media all and (max-width: 499px) {
    #intro {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      /*align-items: baseline;*/
    }
  }
